.unbehaved-element {
    font-size: 2em;
}
@media(max-width: 1580px) {
  html {
    font-size: 18px;
  }
  .unbehaved-element {
    font-size: 1.9em; /* Fine tune unbehaved elements */
  }
}
@media(max-width: 980px) {
  html {
    font-size: 16px;
  }
}
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

body {
  background: linear-gradient(to right, rgb(214, 216, 228), rgb(56, 98, 155));
}

.jumbotron {
  margin-top: 10px;
}

.content {
  display: flex;
  flex-flow: row wrap;
  /*border: solid black 20px;*/
}

.project-header {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

.social-media {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding: 5px 5px;
}

.fa-instagram {
  color: #517fa4;    
}

.fa-instagram:hover {
  color: rgb(85, 85, 172);    
}

.fa-github {
  color: #000;
}

.fa-github:hover {
  color: rgb(69, 238, 177);
}
.fa-codepen {
  color:  rgb(255, 255, 255);
}

.fa-codepen:hover {
  color:  rgb(0, 0, 0);
}

.fa-twitter {
  color: #00aced
}

.fa-twitter:hover {
  color: rgb(199, 247, 82);
}

.fa-linkedin {
  color: #007bb6;
}

.fa-linkedin:hover {
  color:  rgb(109, 246, 130);
}

footer {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: .5em;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}